:root {
  --white: #ffffff;
  --primaryPurple: rgb(76, 86, 163);
  --primaryBlue: #387ed4;
  --primaryBlueLight: #5b90d0;
  --primaryOrange: #f0660b;
  --primaryOrangeLight: #fc921c;
  --primaryRed: #fa4c70;
  --primaryPink: #c7146d;
  --primaryPinkLight: #ee318d;
  --primaryGreen: #91ce45;
  --primaryBg: #1a1c29;
  --secondaryBg: #212435;
  --darkPurple: #24284a;
  --darkBlue: #214674;
  --textColor: #646464;
  --iconGray: #cdcfe1;
  --bgGray: #3f4658;
  --disableGray: #69728c;
  --disableGrayLight: #8c99b7;
  --dropdownBg: #232738;
  --navbarBg: #292f42;
  --sectionBg: #252b3d;
}

/* Loader */
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiTablePagination-displayedRows {
  margin: 0;
}

/* Vertical Text */
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
/* Vertical Text */

/* Mui Table */
.custom-table {
  margin-top: 0 !important;
}

.custom-table .MuiPaper-root {
  background-color: transparent;
  box-shadow: none;
}

.custom-table *:not(svg use) {
  color: var(--textColor);
}

.custom-table .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular {
  min-height: max-content;
  padding: 0 2px 0 0;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: transparent !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* box-shadow:
      0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12); */
}

.custom-table
  .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular[class*='MTableToolbar2-root MTableToolbar2-highlight'] {
  background-color: transparent !important;
}

.custom-table .MuiToolbar-root .MuiTypography-root {
  font-size: clamp(14px, 16px, 18px);
}

.custom-table tr th.MuiTableCell-root,
.custom-table tr td.MuiTableCell-root {
  padding: 1px 5px !important;
}

.custom-table thead tr th.MuiTableCell-root {
  color: var(--white) !important;
  height: 36px !important;
  min-height: 36px;
  background: var(--primaryBlueLight) !important;
}

.custom-table thead tr th.MuiTableCell-root * {
  color: var(--white) !important;
}

.custom-table tr td.MuiTableCell-root {
  border-bottom: 1px solid #e2e2e2;
}

.custom-table .MuiTableFooter-root tr td.MuiTableCell-root {
  border-bottom: unset;
}

.custom-table tr th.MuiTableCell-root:first-child {
  border-top-left-radius: 10px !important;
}

.custom-table tr th.MuiTableCell-root:last-child {
  border-top-right-radius: 10px !important;
}

.custom-table
  div[class*='MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular']
  .MuiInputBase-root {
  min-height: 32px;
}

.custom-table
  div[class*='MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular']
  button[data-mui-internal-clone-element='true'] {
  padding: 0 8px !important;
}

.custom-table
  div[class*='MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular']
  .MuiButtonBase-root.MuiButton-root {
  color: var(--white) !important;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  font-size: clamp(10px, 2vw + 12px, 14px);
  padding: 4px 12px;
  background: var(--primaryBlue);
}

.custom-table
  div[class*='MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular']
  .MuiButtonBase-root.MuiButton-root {
  color: var(--white) !important;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  font-size: clamp(10px, 2vw + 12px, 14px);
  padding: 4px 12px;
  background: var(--primaryBlue);
}

.custom-table
  div[class*='MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular']
  .MuiButtonBase-root.MuiButton-root
  svg {
  color: var(--white) !important;
  fill: var(white) !important;
}

.custom-table
  div[class*='MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular']
  .MuiButtonBase-root.MuiButton-root
  .MuiButton-startIcon {
  margin-right: 4px;
}

.custom-table div[style='overflow-x: auto; position: relative;'] {
  border-radius: 10px;
  background-color: var(--white);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.custom-table tbody td button[class*='muiltr'] {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
  color: var(--textColor);
  /* color: var(--white); */
  font-size: clamp(16px, 20px, 24px);
  padding: 0;
  margin: 0 5px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* background-color: #8592e7; */
  /* color: ; */
}

.custom-table td button[class*='muiltr'] span.MuiIcon-root {
  font-size: clamp(16px, 20px, 24px);
}

.custom-table .MuiIconButton-root[aria-label='Edit'] {
  /* background-color: #d39c2f; */
  /* margin:0 5px; */
}

.custom-table .MuiIconButton-root[aria-label='View'] {
  /* background-color: #7f7f7f; */
  /* margin:0 5px; */
}

.custom-table
  .MuiTableFooter-root
  div[class*='MuiInputBase-root-MuiTablePagination-select'],
.custom-table
  .MuiTableFooter-root
  div[class*='MuiInputBase-root-MuiTablePagination-select']
  .MuiSelect-select,
.custom-table .MuiTableFooter-root .MuiTablePagination-toolbar {
  min-height: unset;
}

.custom-table .MuiTableFooter-root .MuiTablePagination-select {
  padding: 0 24px 0 8px;
}

.custom-table .MuiTableFooter-root div[class*='MTablePaginationInner2'] button {
  padding: 8px;
}

/* Dialog */
.MuiPaper-root[class*='MuiPaper-root-MuiDialog-paper'] {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* Switch */

.MuiSwitch-root.MuiSwitch-sizeMedium {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Side Navbar */
.custom-navbar div[class*='muiltr'].flex.h-full {
  background-color: #24284a;
}

.custom-navbar ul li[class*='MuiListItem-root'] {
  margin-top: 0 !important;
}

.custom-navbar ul li span.MuiListItemText-primary {
  color: #bec6ff !important;
}

.custom-navbar ul li p.MuiListItemText-secondary {
  color: #dadada !important;
}

.MuiDrawer-paperAnchorLeft .flex.h-full.flex-auto.flex-col.overflow-hidden {
  background-color: #24284a;
}

/* Custom Tabs */
.custom-tabs .MuiTabs-indicator {
  display: none !important;
}
/* .MuiTabScrollButton-root.Mui-disabled {
  display: none;
} */
/* Custom Tabs */

/* Full Screen Modal */
.fullscreen-modal .MuiDialog-container {
  margin: 15px;
}
/* Full Screen Modal */

/* Uppy Uploader */
.uppy-upload .uppy-Dashboard-poweredBy {
  display: none !important;
}

.uppy-upload .uppy-Dashboard-inner {
  height: 100% !important;
}

#symbolImages .uppy-upload .uppy-Dashboard-inner {
  width: 100% !important;
  height: 220px !important;
}

.uppy-Dashboard-AddFiles-title {
  margin: 0 !important;
}

.uppy-Dashboard-AddFiles-list {
  flex: inherit !important;
}
/* Uppy Uploader */

/* Login Form */
.MuiButton-containedSecondary,
.MuiButton-containedSecondary:hover {
  background-color: var(--primaryBlue) !important;
}
/* Login Form */

/* Custom Pagination */
.custom-pagination li button[aria-current='true'] {
  background-color: var(--primaryBlue) !important;
}
/* Custom Pagination */

/* Batch According */
.batch-according-main::before {
  content: unset !important;
}

.batch-according-main:last-child {
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

.batch-according .MuiAccordionSummary-content.Mui-expanded {
  margin-top: 0 !important;
}
/* Batch According */

/* Inputs */
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primaryBlue) !important;
}

.MuiFormLabel-root.MuiInputLabel-animated.Mui-focused {
  color: var(--primaryBlue) !important;
}

.MuiRadio-root.Mui-checked {
  color: var(--primaryBlue) !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.Mui-focused::after {
  border-bottom: 2px solid var(--primaryBlue) !important;
}

.MuiTabs-indicator {
  background-color: var(--primaryBlue) !important;
}

span[class*='MuiCheckbox-root'].Mui-checked {
  color: var(--primaryBlue) !important;
}

.MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: rgb(86, 86, 86) !important;
}
/* Inputs */

/* Calender Component */
.rbc-calendar .rbc-btn-group button.rbc-active {
  color: var(--white);
  border: 1px solid var(--primaryBlue);
  background-color: var(--primaryBlue);
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid var(--primaryBlue);
  background-color: var(--primaryBlue);
}
/* Calender Component */

/* Summer Note */
.note-editor.note-frame.fullscreen,
.note-editor.note-airframe.fullscreen {
  background: white;
}
/* Summer Note */

/* Swiper Slider */
.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 50%);
  color: var(--primaryBlue);
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  margin-top: 0;
  border-radius: 6px;
  background-color: var(--white);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 16px !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}
/* Swiper Slider */

/* Error Input */
.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23) !important;
}
/* Error Input */

/* Time Picker */
.MuiMultiSectionDigitalClockSection-item.Mui-selected {
  border-radius: 4px !important;
  background-color: var(--primaryBlue) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
/* Time Picker */

@media (max-width: 319px) {
  * {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

@media (max-width: 576px) {
  /* Custom Modal Calendar */
  .custom-modal-calendar .rbc-toolbar {
    flex-direction: row;
  }

  .custom-modal-calendar .rbc-btn-group,
  .custom-modal-calendar .rbc-toolbar-label {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  /* Custom Modal Calendar */
}

@media (max-width: 930px) {
  .article-preview-content * {
    max-width: calc(100vw - 182px);
  }
}

@media (min-width: 1200px) {
  /* Full Screen Modal */
  .fullscreen-modal .MuiDialog-container {
    height: fit-content !important;
  }
  /* Full Screen Modal */
}

@media (max-width: 1600px) {
  /* body {
    zoom: 0.9;
    -ms-zoom: 0.9;
    -webkit-text-size-adjust: none;
  } */
}

@media (min-width: 1800px) {
  .uppy-upload .uppy-Dashboard-inner {
    height: 190px !important;
  }
}
